<h1>Home#index</h1>

<br/>
<% @coins %>
<% for x in @coins['data'] %>
  <% for coin in @mycoin %>
    <% if coin == x["symbol"] %>
      <%= x["name"] %> : <%= x["price_usd"] %><br/>
      Rank: <%= x["rank"] %> <br/> <br/>
    <% end %>
  <% end %>
<% end %>